pkgbase = totm
	pkgdesc = Cross-platform desktop motion-graphics editor
	pkgver = 0.3.1
	pkgrel = 1
	url = https://github.com/emty-png/totm
	arch = x86_64
	license = Apache-2.0
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = ffmpeg
	depends = hicolor-icon-theme
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = qt6-multimedia-ffmpeg
	depends = qt6-shadertools
	depends = qt6-svg
	source = totm-0.3.1.tar.gz::https://github.com/emty-png/totm/archive/refs/tags/0.3.1.tar.gz
	sha256sums = SKIP

pkgname = totm
