[Desktop Entry]
Version=1.5
Type=Application
Name=totm
GenericName=Motion graphics editor
Comment=Draw vector shapes and animate them
Exec=totm %F
Icon=totm
Terminal=false
MimeType=application/x-totm-design;
Categories=Graphics;2DGraphics;
Keywords=animation;motion;vector;design;
StartupWMClass=totm
